.container {  display: grid;
    grid-template-columns: auto repeat(3);
    grid-template-rows: auto repeat(4);
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo nav nav"
      "img1 img2 img3"
      "copy footer contactos"
      ". . .";
    justify-items: center;
  }
  
  .logo { grid-area: logo; }
  
  .nav { grid-area: nav; }
  
  .img1 { grid-area: img1; }
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
  .copy { grid-area: copy; }
  
  .footer { grid-area: footer; }
  
  .contactos { grid-area: contactos; }
  
  div .logo 
  {  
      grid-area: logo;
      justify-content: center;
      padding: 10px;
      width: 80%;
      top: 20px;
      position: sticky;
      flex-direction: row;
      display: inline-block;
  }

  div .nav
  { 
    grid-area: menu;
    display: grid;
    justify-content: center;
    padding: 25px;
    padding-top: 0px;
    background-color: #d58de457;
    border-color: lightpink;
    align-items: center;
    width: 100%;
    position: fixed;
  }

nav ul li 
  {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: white;
    position: relative;
  }

.copy, .footer, .contactos {
      background-color: rgb(204, 172, 199);
      width: 100%;
      padding: 15px;
      text-align: center;
     
  }
/* vista mobile */
  @media only screen and (min-width: 0px) and (max-width: 767px)
  
  {
    .container {  display: grid;
        grid-template-columns: auto repeat(2);
        grid-template-rows: auto repeat(8);
        gap: 2px 2px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo ."
          "nav ."
          "img1 ."
          "img2 ."
          "img3 ."
          "copy ."
          "footer ."
          "contactos . ";
        justify-items: center;
      }

  }